@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif !important;
    font-weight: 400;
    color: #000;
}

#main-wrapper .topbar .top-navbar .navbar-header[data-logobg=skin5] {
    background: #ffb848;
}

.table td, .table th {
    padding: .4rem;
}

table td {
    text-align: center; 
    vertical-align: middle;
    color: #000;
}

table th {
    font-weight: 900;
    text-align: center; 
    vertical-align: middle;
}

thead {
    background-color: #d6e2e9;
}

label {
    font-weight: 400 !important;
}

#main-wrapper .topbar .top-navbar .navbar-header[data-logobg=skin5] {
    background: #99c1de;
}

#main-wrapper .left-sidebar[data-sidebarbg=skin5],
#main-wrapper .left-sidebar[data-sidebarbg=skin5] ul {
    background: #d6e2e9;
}

#main-wrapper .topbar .navbar-collapse[data-navbarbg=skin5],
#main-wrapper .topbar[data-navbarbg=skin5] {
    background: #d6e2e9;
}

#navbarSupportedContent {
    background: #d6e2e9!important;
}

.sidebar-nav ul .sidebar-item .sidebar-link {
    color: #343a40;
    opacity: 0.8;
}

.sidebar-nav ul .sidebar-item .sidebar-link i {
    color: #343a40;
}

.sidebar-nav .has-arrow:after {
    border-color: #343a40;
}

.pagination {
    justify-content: center;
}

.page-item.active .page-link {
    background-color: #2255a4;
    border-color: #2255a4;
}

.page-link,
.page-link:hover {
    color: #343a40;
}

.modal-header {
    background-color: #d6e2e9;
}

.modal-body {
    max-height: 65vh;
    overflow-y: scroll;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

@media (max-width: 768px) {
    .logo-text img {
        width: 120px;
    }
    table.responsive thead {
        display: none;
    }
    table.responsive tbody tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        line-height: 30px;
        position: relative;
        padding: 10px;
    }
    table.responsive td {
        width: 100%;
        padding: 5px 10px;
        text-align: left;
    }
    table.responsive td::before {
        display: inline-block;
        width: 100px;
        color: var(--darker);
        font-weight: 700;
    }
    table.responsive td:before {
        content: attr(data-title);
    }
}

.form-select,
.form-control {
    color: #000;
    transition: 0.2s linear;
}

.form-control:focus,
.form-select:focus {
    color: #000;
    background-color: #d6e2e9;
}

.form-check-input:checked {
    background-color: #2255a4;
    border-color: #2255a4;
}

.page-link:focus {
    color: #343a40;
}

.topbar .top-navbar .navbar-header,
.navbar-brand {
    line-height: normal;
    height: 64px;
}

.topbar .nav-toggler, 
.topbar .topbartoggler {
    line-height: 64px;
}

@media (max-width: 568px) {
    .topbar .top-navbar .navbar-header .navbar-brand {
        width: auto;
    }
    .logo-icon img {
        width: 30px;
    }
    .logo-text img {
        width: 95px;
    }
}

.show-sidebar .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.1);
}